html, body {
  height: 100%;
  margin: 0;
}

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 1px solid white;
}

#scoreDisplay, #levelDisplay {
  color: white;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  margin: 5px 0;
}

.displayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; 
}

#preview {
  float: left;
  margin-left: 20px;
  width: 100px;
  height: 150px;
  background-color: #f0f0f0;
}
